*{
    padding: 0px;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    
    
}

.sectionTop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionTop ul li button{
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}
.sectionTop ul li input{
    height: 35px;
    outline: none;
    
}
.sectionTop ul li{
    display: inline-block;
    padding: 10px 50px 20px;
}
.sectionTop ul li a{
    color: black;
    font-size: 2rem;
}



